<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
<div class="wrapper">
  {% include 'nav.html' %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Diagnosa</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Diagnosa</a></li>
              <li class="breadcrumb-item active">Form</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Main row -->
        <div class="row">
          <!-- Left col -->
          <div class="col-md-12">
            <div class="card card-info">
              <div class="card-header">
                <h3 class="card-title">Form Diagnosa</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form class="form-horizontal" method="POST" action="/diagnosa_simpan">
                <div class="card-body">
                  <div class="form-group row">
                    <label for="inputnama" class="col-sm-4 col-form-label">Nama</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" id="nama" name="nama" placeholder="Nama" required />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputumur" class="col-sm-4 col-form-label">Umur</label>
                    <div class="col-sm-8">
                      <input type="number" class="form-control" id="umur" name="umur" placeholder="Umur" required />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputalamat" class="col-sm-4 col-form-label">Alamat</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" id="alamat" name="alamat"  placeholder="Alamat" required /> 
                    </div>
                  </div>
                  <div class="form-group row">
                    {% for i in data %}
                    <label for="inputumur" class="col-sm-4 col-form-label">{{ i.1 }}</label>
                    <input type="hidden" class="form-control"  name="gejala[]" value="{{ i.1 }}" placeholder="Gejala" required /> 
                    <div class="col-sm-8">
                      <select class="form-control custom-select" name="kondisi[]" >
                        {% for j in kondisi %}
                        <option value="{{ j.0 }}">{{ j.1 }}</option>
                        {% endfor %}
                      </select>
                    </div>
                    {% endfor %}
                  </div>
                  
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                  <a  href="/diagnosa" class="btn btn-danger ">Cancel</a>
                  <button type="submit" class="btn btn-info float-right">Submit</button>
                </div>
                <!-- /.card-footer -->
              </form>
            </div>
            
            
            
            


            
          </div>
          <!-- /.col -->

          
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div><!--/. container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->

  <!-- Main Footer -->
  {% include 'footer.html' %}

</div>
<!-- ./wrapper -->

{% include 'foot.html' %}

</body>
</html>
