<!-- REQUIRED SCRIPTS -->
<!-- jQuery -->
<script src="{{ url_for('static', filename='admin-lte3/plugins/jquery/jquery.min.js') }}"></script>
<!-- Bootstrap -->
<script src="{{ url_for('static', filename='admin-lte3/plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<!-- overlayScrollbars -->
<script src="{{ url_for('static', filename='admin-lte3/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js') }}"></script>
<!-- AdminLTE App -->
<script src="{{ url_for('static', filename='admin-lte3/dist/js/adminlte.js') }}"></script>

<!-- OPTIONAL SCRIPTS -->
<script src="{{ url_for('static', filename='admin-lte3/dist/js/demo.js') }}"></script>

<!-- PAGE PLUGINS -->
<!-- jQuery Mapael -->
<script src="{{ url_for('static', filename='admin-lte3/plugins/jquery-mousewheel/jquery.mousewheel.js') }}"></script>
<script src="{{ url_for('static', filename='admin-lte3/plugins/raphael/raphael.min.js') }}"></script>
<script src="{{ url_for('static', filename='admin-lte3/plugins/jquery-mapael/jquery.mapael.min.js') }}"></script>
<script src="{{ url_for('static', filename='admin-lte3/plugins/jquery-mapael/maps/usa_states.min.js') }}"></script>
<!-- ChartJS -->
<script src="{{ url_for('static', filename='admin-lte3/plugins/chart.js/Chart.min.js') }}"></script>

<!-- PAGE SCRIPTS -->
<script src="{{ url_for('static', filename='admin-lte3/dist/js/pages/dashboard2.js') }}"></script>

<!-- DataTables -->
<script src="{{ url_for('static', filename='admin-lte3/plugins/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='admin-lte3/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js') }}"></script>
<script src="{{ url_for('static', filename='admin-lte3/plugins/datatables-responsive/js/dataTables.responsive.min.js') }}"></script>
<script src="{{ url_for('static', filename='admin-lte3/plugins/datatables-responsive/js/responsive.bootstrap4.min.js') }}"></script>