<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
<div class="wrapper">
  {% include 'nav.html' %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Home</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item active"><a href="#">PCAP - Programming Essentials in Python - 2B</a></li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">SISTEM PAKAR UNTUK DIAGNOSA PENYAKIT SARS, MERS, DAN COVID-19 MENGGUNAKAN METODE CERTAINTY FACTOR PROSIDING</h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
              <i class="fas fa-minus"></i></button>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-12 col-md-12 col-lg-8 order-2 order-md-1">
              <div class="row">
                <div class="col-12">
                  <h4>Project Team</h4>
                    <div class="post">
                      <div class="user-block">
                        <img class="img-circle img-bordered-sm" src="{{ url_for('static', filename='admin-lte3/dist/img/user1-128x128.jpg') }}" alt="user image">
                        <span class="username">
                          <a href="#">Nanang Nasihin.</a>
                        </span>
                        <span class="description">@nnkens - 0821-2663-0070</span>
                      </div>
                      <!-- /.user-block -->
                      <p>
                        Metode sistem pakar yang digunakan adalah metode Certainty Factor (CF). Teori Certainty Factor (CF) adalah untuk mengakomodasi ketidakpastian pemikiran (inexact reasoning) seorang pakar yang diusulkan oleh Shortliffe dan Buchanan pada tahun 1975.
                      </p>

                      <p>
                        <a href="#" class="link-black text-sm"><i class="fas fa-link mr-1"></i> Demo File 1 v2</a>
                      </p>
                    </div>

                    <div class="post clearfix">
                      <div class="user-block">
                        <img class="img-circle img-bordered-sm" src="{{ url_for('static', filename='admin-lte3/dist/img/user8-128x128.jpg') }}" alt="User Image">
                        <span class="username">
                          <a href="#">Hilman.</a>
                        </span>
                        <span class="description">@hilmanhf19 - 0819-1009-2321</span>
                      </div>
                      <!-- /.user-block -->
                      <p>
                        Seorang pakar (misalnya dokter) sering menganalisis informasi yang dengan ungka pan dengan ketidakpastian, untuk mengakomodasikan hal ini digunakan CF guna menggambarkan tingkat keyakinan pakar terhadap masalah yang sedang dihadapi.
                      </p>
                      <p>
                        <a href="#" class="link-black text-sm"><i class="fas fa-link mr-1"></i> Demo File 2</a>
                      </p>
                    </div>

                    <div class="post">
                      <div class="user-block">
                        <img class="img-circle img-bordered-sm" src="{{ url_for('static', filename='admin-lte3/dist/img/user4-128x128.jpg') }}" alt="user image">
                        <span class="username">
                          <a href="#">Eka Wahyu Sholeha.</a>
                        </span>
                        <span class="description">@ekaaaws - 0821-5830-4500</span>
                      </div>
                      <!-- /.user-block -->
                      <p>
                        Certainty Factor (Faktor Ketidak pastian) menyatakan kepercayaan dalam sebuah kejadian (fakta atau hipotesa) berdasarkan bukti atau penilaian pakar.
                      </p>

                      <p>
                        <a href="#" class="link-black text-sm"><i class="fas fa-link mr-1"></i> Demo File 1 v1</a>
                      </p>
                    </div>

                    <div class="post clearfix">
                      <div class="user-block">
                        <img class="img-circle img-bordered-sm" src="{{ url_for('static', filename='admin-lte3/dist/img/user5-128x128.jpg') }}" alt="User Image">
                        <span class="username">
                          <a href="#">Subiakto Gege Purnomo.</a>
                        </span>
                        <span class="description">@subiakto - 0821-2549-6421</span>
                      </div>
                      <!-- /.user-block -->
                      <p>
                        Metode CF menggunakan suatu nilai untuk mengansumsikan derajat keyakinan seorang pakar terhadap suatu data. Metode CF memperkenalkan konsep keyakinan dan ketidakyakinan. Berikut ini adalah rumus metode CF untuk mengansumsikan kepastian seorang pakar terhadap suatu data.
                      </p>
                      <p>
                        <a href="#" class="link-black text-sm"><i class="fas fa-link mr-1"></i> Demo File 2</a>
                      </p>
                    </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-12 col-lg-4 order-1 order-md-2">
              <h3 class="text-primary"><i class="fas fa-paint-brush"></i> Final Test</h3>
              <p class="text-muted">
                <b class="d-block">CF[H,E] =</b>CF[H] * CF[E] ... (1)<br/>
                <b class="d-block">CFcombine CF[H,E]1,2 =</b>CF[H,E]1 + CF[H,E]2 *(1CF[H,E]1)...(2) <br/> 
                <b class="d-block">CFcombineCF[H,E]old3 =</b>CF[H,E]old + CF[H,E]3* (1CF[H,E]old)..(3) <br/>
                <b class="d-block">CF =</b>Certainty Factor (Faktor Kepastian) dalam hipotesa H yang dipengaruhi oleh Fakta E.<br/>
                <b class="d-block">E =</b>Evidence (Peristiwa atau Fakta)  
              </p>
              <br>
              <div class="text-muted">
                <p class="text-sm">Client Company
                  <b class="d-block">KOMINFO</b>
                </p>
                <p class="text-sm">Training Name
                  <b class="d-block">KOMINFO DTS PRO 2021</b>
                </p>
              </div>

              <h5 class="mt-5 text-muted">Project files</h5>
              <ul class="list-unstyled">
                <li>
                  <a href="" class="btn-link text-secondary"><i class="far fa-fw fa-file-word"></i> Functional-requirements.docx</a>
                </li>
                <li>
                  <a href="" class="btn-link text-secondary"><i class="far fa-fw fa-file-pdf"></i> UAT.pdf</a>
                </li>
                <li>
                  <a href="" class="btn-link text-secondary"><i class="far fa-fw fa-envelope"></i> Email-from-flatbal.mln</a>
                </li>
                <li>
                  <a href="" class="btn-link text-secondary"><i class="far fa-fw fa-image "></i> Logo.png</a>
                </li>
                <li>
                  <a href="" class="btn-link text-secondary"><i class="far fa-fw fa-file-word"></i> Contract-10_12_2014.docx</a>
                </li>
              </ul>
              
            </div>
          </div>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->

    </section>


    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->

  <!-- Main Footer -->
  {% include 'footer.html' %}

</div>
<!-- ./wrapper -->

{% include 'foot.html' %}
</body>
</html>
