<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
<div class="wrapper">
  {% include 'nav.html' %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Pengetahuan</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Pengetahuan</a></li>
              <li class="breadcrumb-item active">List Data</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
       
        

        <!-- Main row -->
        <div class="row">
          <!-- Left col -->
          <div class="col-md-12">
            
            <!-- TABLE: LATEST ORDERS -->
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Data Penyakit</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div class="table-responsive">
                  <table class="display compact order-column responsive nowrap table table-bordered table-striped" id="dttable">
                    <thead>
                    <tr>
                      <th>Penyakit</th>
                      <th>Gejala</th>
                      <th>CF Pakar</th>
                    </tr>
                    </thead>
                    <tbody>
                      {% for i in data %}
                      <tr>
                        <td>{{ i.0 }}</td>
                        <td>{{ i.1 }}</td>
                        <td>{{ i.2 }}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
                <!-- /.table-responsive -->
              </div>
              
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->

          
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div><!--/. container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->

  <!-- Main Footer -->
  {% include 'footer.html' %}

</div>
<!-- ./wrapper -->

{% include 'foot.html' %}

<script>
  $(function () {
    $("#dttable").DataTable({
      "responsive": true,
      "autoWidth": false,
    });
  });
</script>
</body>
</html>
