<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
<div class="wrapper">
  {% include 'nav.html' %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">User</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">User</a></li>
              <li class="breadcrumb-item active">List Data</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Main row -->
        <div class="row">
          <!-- Left col -->
          <div class="col-md-12">
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                {% for message in messages %}
                <div class="alert alert-info alert-dismissible">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                  <h5><i class="icon fas fa-info"></i> {{ message }}</h5>
                </div>
                {% endfor %}
              {% endif %}
            {% endwith %}
            <!-- TABLE: LATEST ORDERS -->
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Data User</h3>
                <div class="card-tools">
                  <ul class="nav nav-pills ml-auto">
                    <li class="nav-item">
                      <a class="btn btn-info" href="/users_form"><i class="fas fa-plus"></i> Tambah User</a>
                    </li>
                  </ul>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div class="table-responsive">
                  <table class="display compact order-column responsive nowrap table table-bordered table-striped" id="dttable">
                    <thead>
                    <tr>
                      <th>Username</th>
                      <th>Password</th>
                      <th class="text-center">Tindakan</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for i in data %}
                    <tr>
                      <td>{{ i.0 }}</td>
                      <td>{{ i.1 }}</td>
                      <td class="text-center">
                        <a href="/users_edit?id={{i.0}}">Edit</a>&nbsp;
                        <a href="javascript://" onclick="hapus('{{i.0}}')">Hapus</a>
                      </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
                <!-- /.table-responsive -->
              </div>
              
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->

          
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div><!--/. container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->

  <!-- Main Footer -->
  {% include 'footer.html' %}

</div>
<!-- ./wrapper -->

{% include 'foot.html' %}
<script>
  $(function () {
    $("#dttable").DataTable({
      "responsive": true,
      "autoWidth": false,
    });
  });
  function hapus(id) {
    var r = confirm("Hapus Data "+id+" ?");
    if (r == true) {
      window.location.href = "/users_hapus?id="+id;
    }
  }
</script>
</body>
</html>
