<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
<div class="wrapper">
  {% include 'nav.html' %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">User</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">User</a></li>
              <li class="breadcrumb-item active">Form</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Main row -->
        <div class="row">
          <!-- Left col -->
          <div class="col-md-12">
            <div class="card card-info">
              <div class="card-header">
                <h3 class="card-title">Form User</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form class="form-horizontal" method="POST" action="/users_simpan">
                <div class="card-body">
                  <div class="form-group row">
                    <label for="inputnama" class="col-sm-4 col-form-label">Username</label>
                    <div class="col-sm-8">
                      <input type="hidden" value="{{userid}}" class="form-control" id="userid" name="userid" placeholder="Username" required />
                      <input type="text" value="{{ data.0.0}}" class="form-control" id="uname" name="uname" placeholder="Username" required />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputnama" class="col-sm-4 col-form-label">Password</label>
                    <div class="col-sm-8">
                      <input type="text" value="{{ data.0.1}}" class="form-control" id="pwd" name="pwd" placeholder="Password" required />
                    </div>
                  </div>
                  
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                  <a  href="/users" class="btn btn-danger ">Cancel</a>
                  <button type="submit" class="btn btn-info float-right">Submit</button>
                </div>
                <!-- /.card-footer -->
              </form>
            </div>
            
            
            
            


            
          </div>
          <!-- /.col -->

          
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div><!--/. container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->

  <!-- Main Footer -->
  {% include 'footer.html' %}

</div>
<!-- ./wrapper -->

{% include 'foot.html' %}

</body>
</html>
